@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --green: #7E8C54;
  --ink: #1B2021;
  --red: #983628;
  --stone: #E0E2DB;
  --cream: #FCDEBE;
  --brown: #4F3F27;
}



* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}